<section>
    <div class="navigation">
        <div class="logo" routerLink="/mainPage"><img src="../../assets/images/logo.png" alt=""></div>
        <ul>
            <li routerLink="/posts" routerLinkActive="active"> Posts</li>
            <li routerLink="/albums" routerLinkActive="active"> Albums</li>
            <li routerLink="/todos" routerLinkActive="active">Todos</li>
        </ul>
    </div>

    <div class="for-style">
        <div class="content-box">
            <div *ngIf="post" class="edit">
                <div class="edit-inputs">
                    <a routerLink="/posts"><svg xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                      </svg></a>

                    <label for="title">Title</label>
                    <textarea type="text" [(ngModel)]="post.title" id="title"></textarea>
                </div>
                <div class="edit-inputs">
                    <label for="body">Body</label>
                    <textarea [(ngModel)]="post.body" id="body"></textarea>
                    <button (click)="updatePost()">Edit</button>
                </div>
                
            </div>

            <div class="comments">
                <ul>
                    <ng-container *ngIf="post && post.comments">
                        <li *ngFor="let comment of post.comments">
                            <img src="../../../assets/images/only-bug.jpg" alt="">
                            <div class="users">
                                <span class="names"> {{ comment.name }}</span>
                                <p>{{ comment.body }}</p>
                            </div>
                        </li>
                    </ng-container>
                </ul>
                <h3>Add Comment</h3>
                <div class="add-comment">
                    
                    <div class="add-comment-inputs">
                        <label for="comment-name">Name:</label>
                        <textarea type="text" [(ngModel)]="newComment.name" id="comment-name"> </textarea>
                    </div>
                    <!-- <div class="add-comment-inputs">
                        <label for="comment-email">Email:</label>
                        <input type="email" [(ngModel)]="newComment.email" id="comment-email">
                    </div> -->
                    <div class="add-comment-inputs">
                        
                        <label for="comment-body">Comment:</label>
                        <textarea [(ngModel)]="newComment.body" id="comment-body"></textarea>
                        <button class="add-comm-btn" (click)="addComment()">Add</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>