<section class="main-cont">
    <div class="navigation">
        <div class="logo" routerLink="/mainPage"><img src="../../assets/images/logo.png" alt=""></div>
        <ul>
            <li routerLink="/posts" routerLinkActive="active"> Posts</li>
            <li routerLink="/albums" routerLinkActive="active"> Albums</li>
            <li routerLink="/todos" routerLinkActive="active">Todos</li>
        </ul>
    </div>
    <div class="content">
        <div class="title">
            <h1><span class="json">JSON</span> <span class="placeholder">Placeholder</span></h1>
            <p>Angular App</p>
        </div>
        <div class="category">
            <button class="posts" routerLink="/posts">Posts</button>
            <button class="albums" routerLink="/albums">Albums</button>
            <button class="todos" routerLink="/todos">Todos</button>
        </div>
    </div>

</section>