<section>
    <div class="navigation">
        <div class="logo" routerLink="/mainPage" ><img src="../../assets/images/logo.png" alt=""></div>
        <ul>
            <li routerLink="/posts" routerLinkActive="active"> Posts</li>
            <li routerLink="/albums" routerLinkActive="active">Albums</li>
            <li routerLink="/todos" routerLinkActive="active">Todos</li>
        </ul>
    </div>

    <div class="posts-container">
        <div class="add-post">
            <button (click)="toggleContainer()" class="add-button"> Add Post</button>
            <div *ngIf="showContainer" class="input-cont">
                <div class="new-post">
                    <label for="name" >Post Author </label>
                    <input id="name" name="name" type="text" [(ngModel)]="newPostAuthor">
                </div>
                <div class="new-post">
                    <label for="title">Title </label>
                    <input id="title" name="titile" type="text" [(ngModel)]="newPostTitle">
                </div>
                <div class="new-post">
                    <label for="body">Body </label>
                    <input id="body" name="body" type="text" [(ngModel)]="newPostBody">
                </div>
                <button type="button" (click)="addNewPost()" class="subimt-button">Add</button>
            </div>
        </div>
        <table  class="posts-table">
            <tr>
                <th>POST'S USER</th>
                <th>TITLE</th>
                <th>BODY</th>
            </tr>
            <tr [routerLink]="['/posts', post.id ]" *ngFor="let post of posts">
                <td>{{ getUserById(post.userId) }}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
                
            </tr>
        </table>

    </div>
</section>
<router-outlet></router-outlet>
