<section>
    <div class="navigation">
        <div class="logo" routerLink="/mainPage"><img src="../../assets/images/logo.png" alt=""></div>
        <ul>
            <li routerLink="/posts" routerLinkActive="active"> Posts</li>
            <li routerLink="/albums" routerLinkActive="active"> Albums</li>
            <li routerLink="/todos" routerLinkActive="active">Todos</li>
        </ul>
    </div>

    <table  class="albums-table">
        <tr>
            <th>ALBUM'S USER</th>
            <th>TITLE</th>
            <th>NUMBER OF PHOTOS</th>
        </tr>
        <tr [routerLink]="['/albums', album.id]" *ngFor="let album of albums" >
            <td>{{ getUserName(album.userId) }}</td>
            <td>{{album.title}}</td>
            <td>{{ loadPhotosCount(album.id)}}</td>
            
        </tr>
    </table>
</section>
